<footer>
  <div class="footer-contact">
      <h2>LUXURY</h2>
      <h3>HOTELS</h3>
      <p>497 Evergreen Rd. Roseville, CA 95673<br>+44 345 678 903<br>luxury_hotels@gmail.com</p>
  </div>
  <div class="footer-about">
      <ul>
          <li>About Us</li>
          <li>Contact</li>
          <li>Terms & Conditions</li>
      </ul>
  </div>
  <div class="footer-socials">
      <ul>
          <li><img class="socials-facebook" src="https://paconavarrete.github.io/luxury-hotel/images/footer/facebook_icon.png" alt="">Facebook</li>
          <li><img class="socials-twitter" src="https://paconavarrete.github.io/luxury-hotel/images/footer/twitter_icon.png" alt="">Twitter</li>
          <li><img class="socials-instagram" src="https://paconavarrete.github.io/luxury-hotel/images/footer/instagram_icon.png" alt="">Instagram</li>
      </ul>
  </div>
  <div class="footer-form">
      <p>Subscribe to our newsletter</p>
      <form>
          <div class="footer-form-container">
              <input class="footer-form-mail" type="email" value="Email Adress">
              <input class="footer-form-ok" type="submit" value="OK">
          </div>
      </form>
  </div>
</footer>
