<article id="content-body">
  <section class="article-section-copy">
      <h2>FACILITIES</h2>
      <p>We want your stay at our lush hotel to be truly unforgettable.  That is why we give special attention to all of your needs so<br>that we can ensure an experience quite uniquw. Luxury hotels offers the perfect setting with stunning views for leisure<br>and our modern luxury resort facilities will help you enjoy the best of all. </p>
  </section>
  <section class="article-section-gallery">
      <div class="article-section-gallery-div">
        <img src="https://paconavarrete.github.io/luxury-hotel/images/facilities/Facilities-GYM.png" alt="" srcset="">
          <img src="https://paconavarrete.github.io/luxury-hotel/images/facilities/Facilities-poolside.png" alt="">
          <img src="https://paconavarrete.github.io/luxury-hotel/images/facilities/Facilities-the-spa.png" alt="">
          <img src="https://paconavarrete.github.io/luxury-hotel/images/facilities/Facilities-swimmingpool.png" alt="">
          <img src="https://paconavarrete.github.io/luxury-hotel/images/facilities/Facilities-Restaurant.png" alt="">
          <img src="https://paconavarrete.github.io/luxury-hotel/images/facilities/Facilities-laundry.png" alt="">
      </div>
  </section>
</article>
