<article id="content-body">
  <section class="article-section-copy">
      <h2>ROOMS AND RATES</h2>
      <p>Each of our bright, light-flooded rooms come with everything you could possibly need for a comfortable stay. And yes,<br>comfort isn’t our only objective, we also value good design, sleek contemporary furnishing complemented<br>by the rich tones of nature’s palette as visible from our rooms’ sea-view windows and terraces. </p>
  </section>
  <section class="article-section-room-cards">
      <div class="article-section-room-card-styles">
          <div class="article-section-room-card-styles-imgsingle"></div>
          <div class="article-section-room-card-styles-type"><p>SINGLE ROOM</p></div>
          <div class="article-section-room-card-styles-details">
              <div>
                  <details>
                      <summary>VIEW ROOM DETAILS</summary>
                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non quos voluptatum omnis architecto, illum quae voluptatibus nam harum ipsa labore odio iste perspiciatis rerum laboriosam reprehenderit, magni possimus sed deleniti.</p>
                  </details>
              </div>
              <button class="article-section-room-card-styles-details-button">$147  Avg/night</button>
          </div>
      </div>
      <div class="article-section-room-card-styles">
          <div class="article-section-room-card-styles-imgdouble"></div>
          <div class="article-section-room-card-styles-type"><p>DOUBLE ROOM</p></div>
          <div class="article-section-room-card-styles-details">
              <div>
                  <details>
                      <summary>VIEW ROOM DETAILS</summary>
                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non quos voluptatum omnis architecto, illum quae voluptatibus nam harum ipsa labore odio iste perspiciatis rerum laboriosam reprehenderit, magni possimus sed deleniti.</p>
                  </details>
              </div>
              <button class="article-section-room-card-styles-details-button">$147  Avg/night</button>
          </div>
      </div>
      <div class="article-section-room-card-styles">
          <div class="article-section-room-card-styles-imgtwin"></div>
          <div class="article-section-room-card-styles-type"><p>TWIN ROOM</p></div>
          <div class="article-section-room-card-styles-details">
              <div>
                  <details>
                      <summary>VIEW ROOM DETAILS</summary>
                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non quos voluptatum omnis architecto, illum quae voluptatibus nam harum ipsa labore odio iste perspiciatis rerum laboriosam reprehenderit, magni possimus sed deleniti.</p>
                  </details>
              </div>
              <button class="article-section-room-card-styles-details-button">$147  Avg/night</button>
          </div>
      </div>
  </section>

  <!-- page body -->
</article>
<div>
  <div class="triangule-footer"> <img src="https://paconavarrete.github.io/luxury-hotel/images/footer/triangule.svg" alt=""> </div>
</div>
